@model List<Customers>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col">
        <h2>Customer List</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        <button type="button" class="btn btn-primary btn-sm" onclick="newRow()">Add</button>
                    </th>
                    <th colspan="3">
                        <form class="form-inline" method="post" asp-controller="Home" asp-action="Index">
                            <input name="name" class="ml-auto form-control form-control-sm" />
                            <button type="submit" class="ml-1 btn btn-primary btn-sm">Search</button>
                        </form>
                    </th>
                </tr>
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="new-row" class="edit-row">
                    <form method="post" asp-controller="Home" asp-action="Insert">
                    <td><input name="customerId" class="form-control form-control-sm" value="0" readonly /></td>
                    <td><input name="name" class="form-control form-control-sm" /></td>
                    <td><input name="country" class="form-control form-control-sm" /></td>
                    <td>
                        <button type="submit" class="btn btn-success btn-sm">Save</button>
                        <button class="btn btn-warning btn-sm" asp-action="Index" asp-controller="Home">Cancel</button>
                    </td>
                    </form>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr id="show-row-@i" class="show-row">
                        <td>@Model[i].CustomerId</td>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Country</td>
                        <td>
                            <form method="post" asp-action="Delete" asp-controller="Home">
                                <button type="button" class="btn btn-secondary btn-sm" onclick="editRow('@i')">Edit</button>
                                <input asp-for="@Model[i].CustomerId" name="customerId" type="hidden" />
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr id="edit-row-@i" class="edit-row">
                        <form method="post" asp-controller="Home" asp-action="Edit">
                        <td><input asp-for="@Model[i].CustomerId" name="CustomerId" class="form-control form-control-sm" readonly /></td>
                        <td><input asp-for="@Model[i].Name" name="Name" class="form-control form-control-sm" /></td>
                        <td><input asp-for="@Model[i].Country" name="Country" class="form-control form-control-sm" /></td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            <button class="btn btn-warning btn-sm" asp-action="Index" asp-controller="Home">Cancel</button>
                        </td>
                        </form>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $('.edit-row').hide();
        });
        function editRow(index) {
            $('.edit-row').hide();
            $('#show-row-' + index).hide();
            $('#edit-row-' + index).show();
        }
        function newRow() {
            $('.edit-row').hide();
            $('#new-row').show();
        }
    </script>
}