@model int_core_test_2.Models.multipletable
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <h1 class="display-4">list of patients</h1>
        <div class=" d-flex justify-content-end mb-1">
            <a asp-action="Create" asp-controller="Home" class="btn btn-primary">Add New</a>

        </div>
        <table class="table table-bordered">
            <thead class="bg-info">
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th>DeptName</th>
                    <th>Fee</th>
                    <th>Isadmitted</th>
                    <th>DoctorName</th>
                    <th>Picture</th>
                    <th>Actions</th>l
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Patients)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.Name)</td>
                        <td>@Html.DisplayFor(x => item.Gender)</td>
                        <td>@Html.DisplayFor(x => item.visitDate)</td>
                        <td>@Html.DisplayFor(x => item.Department.DepartmentName)</td>
                        <td>@Html.DisplayFor(x => item.Fee)</td>
                        <td>@Html.DisplayFor(x => item.Isadmitted)</td>
                        <td>@Html.DisplayFor(x => item.Doctor.DoctorName)</td>
                        <td><img src="~/Images/@item.Picture" alt="Photo of @item.Name" width="40" /></td>
                        <td>
                            <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.PatientId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.PatientId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



